{% load invoices_tags %}

{% if messages %}
    <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</section>
{% endif %}


<p>Voici le récapitulatif de vos derniers paiements :</p>


<ul>
    {% for invoice in invoices %}
        <li>{% if invoice.product %}{{ invoice.product }}{% else %}Abonnement{% endif %} - {{ invoice.payment_date|date:"DATE_FORMAT" }} - {{ invoice.price_paid|floatformat:2 }} € <a href="{% url 'invoices:download' invoice.transaction_id %}">Télécharger</a></li>
    {% empty %}
        <li>Aucune facture disponible. Les factures ne sont disponibles qu'une fois le paiement effectué.</li>
    {% endfor %}
</ul>


